body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #222;
    color: white;
}

main {
    width: 1100px;
    min-height: 700px;
    padding: 50px;
    background: white;
}